body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

table {
    text-align: left;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #E20074;
    background-color: #ffeaf5;
    margin: 0;
}

a:active {
    color: #ff67b5;
}

#currentPage {
    color: #ff67b5;
}

ul {
    list-style-type: none;
    margin: 0 10px;
    padding: 0;
    text-align: center;
    font-size: 1.75vw;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.h1 {
    text-align: center;
    font-size: 4vw;
    margin-top: 20px;
    margin-bottom: 15px;
}

  @media screen and (max-width: 1024px) {
    body {
        font-size: 4vw;
    }
    ul {
        list-style-type: none;
        margin: 0 15px;
        padding: 0;
        text-align: center;
        font-size: 4vw;
    }
    
    .h1 {
        text-align: center;
        font-size: 9vw;
        margin-top: 5vw;
        margin-bottom: 15px;
    }

    .input-box {
        margin-left: 5vw;
        width: 300px;
        height: 50px;
      }
  }