body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 1.75em;
}

li {
    display: inline-block;
    margin-right: 20px;
}

.h1 {
    text-align: center;
    font-size: 4em;
    margin-top: 20px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}